In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_df = pd.read_csv("./input/train_dataset.csv")
test_df = pd.read_csv("./input/test_dataset.csv")
station_info_df = pd.read_csv("./input/station_info.csv")
sample_submission_df = pd.read_csv("./input/submission_sample.csv")

In [4]:
train_df["station"].value_counts() # train에는 station 6개, test는 2개

station
108    2191
112    2191
203    2189
98     2187
201    2187
202    2187
Name: count, dtype: int64

In [12]:
col_num = train_df.shape[0]

col_num / 6 / 6 # 6개 station, 6개년

364.77777777777777

In [14]:
train_df["date"].value_counts()

date
01-01    36
08-17    36
09-06    36
09-05    36
09-04    36
         ..
10-31    35
10-30    35
03-20    34
12-31    30
02-29    12
Name: count, Length: 366, dtype: int64

In [18]:
print(station_info_df.지점명)

0    동두천
1     파주
2     강화
3     인천
4     이천
5     양평
6     서울
7     수원
8     수원
Name: 지점명, dtype: object

In [23]:
test_df.head()

,id,station,station_name,date,cloud_cover_0,cloud_cover_1,cloud_cover_10,cloud_cover_11,cloud_cover_12,cloud_cover_13,...,wind_speed_22,wind_speed_23,wind_speed_3,wind_speed_4,wind_speed_5,wind_speed_6,wind_speed_7,wind_speed_8,wind_speed_9,climatology_temp
0,0,99,파주,06-26,0.0,0.0,0.0,1.0,3.0,6.0,...,0.5,0.3,0.2,0.9,0.8,0.6,0.9,1.0,2.0,23.964286
1,1,119,수원,01-11,0.0,0.0,0.0,0.0,0.0,0.0,...,1.1,1.0,0.6,0.5,0.7,0.2,0.1,0.1,0.3,-2.776786
2,2,119,수원,02-23,5.0,6.0,0.0,0.0,0.0,0.0,...,0.4,0.6,0.2,0.3,1.1,0.7,0.7,1.4,1.6,2.100000
3,3,119,수원,05-29,0.0,0.0,0.0,0.0,0.0,0.0,...,1.2,0.5,0.3,0.5,1.4,0.8,1.3,0.9,1.0,19.648214
4,4,119,수원,06-15,0.0,4.0,2.0,4.0,8.0,8.0,...,1.2,2.3,0.8,0.8,0.2,1.1,0.6,3.3,1.8,21.964286